{
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "parser": "espree",
    "rules": {
        "no-unused-vars": 2,
        "no-var": 2,
        "comma-dangle": 2,
        "comma-style": [2, "first", { "exceptions": { "ArrayExpression": true, "ObjectExpression": true } }],
        "indent": [2, 4],
        "prefer-arrow-callback": 2,
        "semi": [2, "never"],
        "space-before-blocks": [2, { "functions": "always", "keywords": "always", "classes": "always" }]
    }
}
