{
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "parser": "espree",
    "rules": {
        "no-console": "off",
        "no-sequences": "off",
        "no-unused-vars": "error",
        "no-var": "error",
        "comma-dangle": "error",
        "comma-style": ["error", "first", { "exceptions": { "ArrayExpression": true, "ObjectExpression": true } }],
        "indent": ["error", 4],
        "prefer-arrow-callback": "error",
        "semi": ["error", "never"],
        "space-before-blocks": ["error", { "functions": "always", "keywords": "always", "classes": "always" }]
    }
}
